{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
    <h1>Лукьянчук Никита Владимирович</h1>
    {% comment %}
      Боковой блок со списком технологий 
      Займет всю ширину блока на мобильном
      и 25% при размерах экрана ≥768px
    {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img src="{% static 'img/ava_photo.jpg' %}" width="200" height="300" class="d-inline-block align-top" alt="">
        </li>
      </ul>
    </aside>
    {% comment %}
      Статья  
      Займет всю ширину блока на мобильном
      и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <p>
        Мужчина, 37 лет, родился 6 мая 1985, проживаю в Краснодаре
      </p>
      
      <p> 
        Меня интересуют: сфера IT, точные науки и сфера коммуникаций в области продаж. 
      </p>
      <p> Именно поэтому я получил высшее образование на 
          факультете "Прикладной математики" в КубГУ в г.Краснодаре.
      </p>
      <p>
          После университета я получил отличный опыт в сфере продаж (более 16 лет) 
          и прокачал свои Soft skills.

      </p>
      <p>
          Недавно решил сменить профессию и реализовать свой потенциал в сфере программирования, 
          т.к. понял что эта деятельность приносит мне удовольствие.
      </p>
      <p>Сейчас прохожу обучение по профессии Python-разработчик в Яндексе! </p>
      <p>  
          С помощью новых полученных знаний планирую запустить свой IT проект 
          или начать карьеру в сфере IT!
      </p>
      <p>
        Если Вы чувствуете, что я могу быть Вам полезен, 
        не стесняйтесь, пожалуйста, звоните или пишите :) 
      </p>
      <p>Мой тел. +7 (918) 261-01-04</p>
      <p>Электропочта: nikluk@mail.ru</p>
      <p><a href="https://github.com/NikLukyan">Профиль на GitHub</a></p>
      <p><a href="https://krasnodar.hh.ru/resume/41321086ff003332180039ed1f736563726574">
        Резюме на HH
      </a></p>
      <p><a href="https://vk.com/7shin">Профиль в VK</a></p>
    </article>
  </div>
{% endblock %} 